.card {
  width: 413px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  max-width: 337px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
  transition: background-image 0.5s ease-in-out;
}

.card__like-button:hover {
  background-image: url(../images/heart-hover.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 100%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 318px;
  }
}
